services:
  web:
    build: .
    command: bash -c "bundle install && rails server -b 0.0.0.0 -p 3000"
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - bundle:/usr/local/bundle
    environment:
      RAILS_ENV: development
    stdin_open: true
    tty: true

volumes:
  bundle: